@use "styles" as *;

.upper-body {
  margin: 0 16px;
  padding-top: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-footer {
    margin-top: 87px;
    border-top: solid 1px map-get($palette, "White");
    padding-top: 39px;
  }
}

.author-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.33px;
  color: map-get($palette, "White");
}

.social {
  &-links {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25.6px;
    margin-top: 20px;
  }

  &-logo {
    width: 19px;
  }
}

.filter {
  filter: brightness(0) invert(1); // Convert to white
}

.filter:hover,
.filter:focus {
  filter: none;
  outline: none;
}

.headshot {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 175px;
  z-index: -1;
}

.hero {
  margin-top: 331px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &-title {
    text-align: center;
  }

  &-body {
    @extend %body;
    text-align: center;
  }
}

.dev {
  text-decoration: underline map-get($palette, "Green");
  text-underline-offset: 6px;
}

.skills {
  $border: 1px solid map-get($palette, "White");
  display: grid;
  gap: 24px;
  margin: 80px 0;
  padding: 40px 0;
  border: {
    top: $border;
    bottom: $border;
  }

  &-name {
    @extend %heading-l;
    text-align: center;
  }

  &-year {
    @extend %body;
    text-align: center;
  }
}

.anchor {
  position: relative;
}

.circle {
  $size: 129px;
  width: calc($size / 2);
  height: $size;
  background: url("/assets/images/pattern-circle.svg");
  position: absolute;
  top: 254px;
  right: 0;
}

$rings-height: 129px;

.rings {
  width: 186px;
  height: $rings-height;
  background: url("/assets/images/pattern-rings.svg");
  position: absolute;

  &-one {
    background-position: right;
    top: 124px;
    z-index: -1;
  }

  &-two {
    top: calc(-80px - $rings-height / 2);
    right: -16px;
  }

  &-three {
    background-position: right;
    left: -16px;
    bottom: 8px - calc($rings-height / 2);
  }
}

.projects {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  display: grid;
  margin-top: 40px;
  gap: 40px;
}

.footer {
  margin-top: 80px;
  padding: 60px 16px;
  background: map-get($palette, "Dark Grey");
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 50px;

  &-title {
    text-align: center;
  }

  &-body {
    @extend %body;
    margin-top: 20px;
    text-align: center;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative; // For rings decoration
  }
}

.form-control {
  @extend %body;
  width: 100%;
  padding: 0 0 0 24px;
  letter-spacing: -0.22px;
  text-align: left;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none {
    bottom: solid 1px map-get($palette, "White");
  }
}

input.form-control {
  padding-bottom: 16px;
}

textarea.form-control {
  resize: none;
  display: block;
}

.ng-valid.ng-touched:not(form) {
  border-bottom-color: map-get($palette, "Green");
}

.ng-invalid.ng-touched:not(form) {
  border-bottom-color: map-get($palette, "Red");
}

.form-button {
  align-self: flex-end;
}

.error {
  &-container {
    position: relative;
  }
  &-icon {
    position: absolute;
    right: 0;
    top: 0;
    color: map-get($palette, "Red");
    border: solid 1px map-get($palette, "Red");
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.17px;
  color: map-get($palette, "Red");
  position: absolute;
  right: 0;
  bottom: calc(-16px - 5px); // -16px for the height
}

@media (min-width: $desktop-breakpoint) {
  %body {
    font-size: 18px;
    line-height: 28px;
  }

  .circle {
    width: 129px;
    top: 521px;
    right: 445px + 165px - calc(129px / 2);
  }

  .rings {
    &-one {
      width: 430px;
      top: 133px;
    }

    &-two {
    }

    &-three {
    }
  }

  .upper-body {
    margin: 0 165px;
    padding-top: 40px;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .social-links {
    margin: 0 29.5px 0 0;
  }

  .hero {
    align-items: flex-start;
    margin-top: 127px;
    gap: 0;

    &-newline-two {
      display: inline;
    }

    &-title {
      text-align: left;
    }

    &-body {
      margin: 43px 0 66px;
      width: 445px;
      text-align: left;
    }
  }

  .headshot {
    $width: 445px;
    width: $width;
    height: 720px;
    top: 0;
    left: calc(100% - $width - 165px);
    transform: none;
  }

  .skills {
    margin-top: 219px;
  }
}

@media (min-width: $tablet-breakpoint) and (max-width: calc($desktop-breakpoint - 1px)) {
  %heading-l {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
  }

  %body {
    font-size: 18px;
    line-height: 28px;
  }

  .circle {
    top: 471px;
  }

  .rings {
    &-one {
      width: 265px;
      top: 86px;
    }

    &-two {
      width: 198px;
      top: - calc(35px + $rings-height);
      right: -32px;
    }

    &-three {
      width: 162px;
      top: 6px;
      left: -162px;
    }
  }

  .upper-body {
    margin: 0 32px;
    padding-top: 32px;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .author-name {
    font-size: 32px;
    letter-spacing: -0.44px;
  }

  .social {
    &-links {
      margin-top: 0;
    }

    &-logo {
      width: 24px;
    }
  }

  .headshot {
    $width: 322px;
    width: $width;
    height: 600px;
    transform: initial;
    top: 0;
    left: calc(100% - $width);
  }

  .hero {
    margin-top: 90px;
    align-items: flex-start;
    gap: 0;
    max-width: 445px;

    &-body {
      text-align: left;
      margin: 60px 0 34px;
    }

    &-title {
      text-align: left;
    }

    &-newline {
      display: inline;
    }
  }

  .skills {
    margin: 60px 0 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 52px 0;
    padding: 52px 0 0;
    border-bottom: none;

    &-name {
      text-align: left;
    }

    &-year {
      text-align: left;
      margin-top: 14px;
    }
  }

  .projects {
    margin-top: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 60px 24px;
  }

  .footer {
    margin-top: 100px;
    padding: 60px 0 40px;
  }

  .nav {
    &-footer {
      margin: 92px 32px 0;
      padding-top: 30px;
    }
  }

  .contact {
    gap: 48px;
    padding: 0 162px;
  }
}
