@use "styles" as *;

.thumbnail {
  width: 100%;
}

.title {
  margin-top: 20px;
  @extend %heading-m;
  text-transform: uppercase;
}

.skills {
  margin-top: 7px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 18px;
}

.skill {
  @extend %body-l;
  text-transform: uppercase;
}

.links {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.button {
  display: block;
}
