@use "reset";
@use "fonts";

$palette: (
  "Black": #151515,
  "Dark Grey": #242424,
  "Green": #4ee1a0,
  "Grey": #d9d9d9,
  "Red": #ff6f5b,
  "White": #ffffff,
);

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: map-get($palette, "Black");
}

// Typography ******************************************
.heading-xl {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.14px;
  color: map-get($palette, "White");
}

%heading-l {
  font-family: Space Grotesk;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  color: map-get($palette, "White");
}

%heading-m {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: map-get($palette, "White");
}

%body {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: map-get($palette, "Grey");
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.29px;
  color: map-get($palette, "White");
  text-transform: uppercase;
  padding-bottom: 10px;
  // Reset link and button styles
  cursor: pointer;
  text-decoration: none;
  background: none;
  border: none {
    bottom: solid 2px map-get($palette, "Green");
  }
}

.button:hover,
.button:focus {
  color: map-get($palette, "Green");
  outline: none;
}

@media (min-width: $tablet-breakpoint) and (max-width: calc($desktop-breakpoint - 1px)) {
  .heading-xl {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.05px;
  }
}

@media (min-width: $desktop-breakpoint) {
  .heading-xl {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
  }
}
// *****************************************************
